h1 {
    color:blanchedalmond;
    font-family: Times New Roman;
    font-size:26;
    font-style:italic,fontinclinada;
    font-variant Arial Black;
    font-weight:140;
    font-stretch:....grau de espansão/contração dos glifos;
    font:.
}