body{
    background-color:;
    font-family:Arial;
    font-style: normal;
    font-size: 20px;
}
#button {
        background-color: #4CAF50; /* Green */
        border: none;
        color:blueviolet;
        padding: 15px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 10px;
      }
  
