._7psf{display:flex;flex-direction:column;justify-content:flex-start;overflow:hidden;padding:12px;position:relative}._7psg{color:#606770;font-size:13px;font-weight:600;line-height:13px;padding-bottom:4px}._7psh{padding-bottom:12px}
._5dhi .img{outline:none}._3-a6 ._5dhi{margin-top:8px}

#bootloader_se6nJ{height:42px;}.bootloader_se6nJ{display:block!important;}